extends layout
block content
  h1= 'Hello Pug'
  p= 'This is a practice app to understand how express works'
  br
  div#card
    h3= 'Simple Project on my Journey to Backend'
    ul
      li
        input(type='checkbox' checked)
        p= 'Create layout and index page'
        small= 'Add Express and Pug'
      li
        input(type='checkbox')
        p= 'Create art and artist db'
        small= 'Add MongoDB'
      li
        input(type='checkbox')
        p= 'Create routes and render data on pages'
        small= 'Read'
      li 
        input(type='checkbox')
        p= 'Add forms to write on database'
      li 
        input(type='checkbox')
        p= 'Add more options on editing database'